body {
    font-family: "Times New Roman";
    font-size: small;
}
#mainTable, #resultsTable, #measurementTable {
    width: 750px;
}
#measurementTable td {
    width: 25%;
}
#resultsTable td {
    min-height: 50px;
    text-align: center;
}
#mainTable td {
    text-align: center;
}
#mainTable .tableHeader {
    background-color: #009FAC;
}
.smallInput {
    width: 75px;
    min-height: 25px;
}
.dateInput {
    width: 150px;
    min-height: 25px;
}
.calculateResults {
    max-width: 250px;
    width: 250px;
}
/*for rowspan=2*/
.equalsSign {
    font-family: "Courier New";
    font-size: xx-large;
}